body {
    background: #A3E4D7 ;
}

.row {
    background: #45B39D;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}

.nav-link {
    font-size: 30px;
    color:#fff;
}

.navbar-brand {
    font-size: 30px;
    color:#fff;
}

.navbar {
    height: 50px;
    background-color: #45B39D;   
}


/* Estilo para las tarjetas */
.card-project {
    height: 400px; /* Establece la altura deseada para todas las tarjetas */
    width: 100%; /* Opcional: Puedes establecer un ancho fijo si lo deseas */
}

/* Estilo para las imágenes dentro de las tarjetas */
.card-project img {
    width: 100%; /* Establece el ancho al 100% para que se ajuste al contenedor */
    height: 100%; /* Establece la altura al 100% para ocupar toda la altura de la tarjeta */
    max-height: 245px;
    object-fit: cover; /* Ajusta la imagen para cubrir la tarjeta sin deformarla */
}

.col-md-8 h1,
.col-md-8 h2 {
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  /* Alinea el texto al centro */
}

.github {
    max-width: 40px;
    height: 24px;
    width: 24px;
    margin-left: 3rem;
    cursor: pointer;
}

.linkedin {
    height: 24px;
    margin-left: 0.3rem;
    cursor: pointer;    
}

.work {
    font-size: 30px;
}

.hi {
    color: #F39C12 ;
}

.bg-different-color {
    background-color:#A3E4D7;
}

.boton {
    margin: 0 auto;
}
