{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="hero">
    <section class="hero__container container">
        <h1 class="hero__title">Welcome to my portfolio!</h1>
        <p class="hero__paragraph">Here you can see a little about me as a person and what I know about programming :)</p>
    </section>
    <a href="#projects" class="cta">Start the tour now!</a>
</header>

<div class= "container p-4">
<div class="row my-4 text-center" id=projects>
    
    <h3 class="haparte">My Projects</h3>
    <p>This is a small sample of my most notable projects</p>

    {% for project in projects %}
        <div class="col-md-4 p-4">
            <div class="card bg-white card-project">
                <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
                <div class="card-body">
                    <h2>{{project.title}}</h2>
                    <p>{{project.description}}</p>
                    
                    {% if project.url %}
                        <a href="{{project.url}}" target="_blank" class="btn btn-primary btn-lg rounded my-3">More Info</a>
                    {% endif %} 
                </div>
            </div>
        </div>
    {% endfor %}
</div>

   
    <div class="row my-4">
    <span class="meabout">ABOUT ME</span>
            <div class="col-md-6 text-right">
        <h3 class="about">Get to know me!</h3>
        <p>Hi there! I'm Eniixx, an aspiring software developer currently pursuing a Technical Degree in Programming. I've recently completed a Django course and have hands-on experience building websites with Python. My journey into the world of programming started with a fascination for crafting dynamic web experiences, which led me to delve into Django and Python. Alongside, I've also honed my skills in Lua scripting within Roblox Studio, where I've enjoyed bringing imaginative game concepts to life. Although my journey is just beginning, I'm enthusiastic about expanding my knowledge and skills in both web development and game scripting, eager to contribute to innovative projects and continue growing as a developer.</p>
      </div>
      <div class="col-md-6 text-center">
        <h3 class="about">My Skills</h3>
        <div class="skills">
            <ul>
              <li>Python</li>
              <li>Django</li>
              <li>Git</li>
              <li>GitHub</li>
              <li>Lua</li>
              <li>Roblox Studio</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>SQL Basics</li>
            </ul>
          </div>
      </div>

    </div>
  </div>
</div>



{% endblock %}