{% extends 'layout.html' %}

{% block content %}
<style>
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.login-container .login-form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 400px;
}

.login-container .login-form label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
}

.login-container .login-form h2,
.login-container .login-form p,
.login-container .login-form .redirect {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container .login-form h2 {
    font-weight: bold;
    font-size: 2em;
}

.login-container .login-form input[type="text"],
.login-container .login-form input[type="password"] {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: #000000;
}

.submit {
    background-color: #007bff;
    color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    cursor: pointer;
    width: 70%;
    margin-top: 20px;
    font-size: 16px; 
    transition: background-color 0.4s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.submit:hover, .submit:focus {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.login-container .login-form .link {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: #007bff;
}
</style>

<div class="login-container">
  <form method="post" class="login-form">
      <h2>Register</h2>
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% for field in form %}
      <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
      </div>
      {% endfor %}
      <input type="submit" value="Register" class="submit">
  </form>
</div>

{% endblock %}
