{% load static %}

<nav class="navbar navbar-expand-lg">
  <link rel="stylesheet" href="{% static 'main.css' %}">
    <div class="container">
      <a class="navbar-brand fw-bold fst-italic" href="/">RD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:posts' %}">Devlog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contact</a>
          </li>
          {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST" class="nav-item">
              {% csrf_token %}
              <button type="submit" style="background:none; border:none; padding:0;">
                  <img src="{% static 'portfolio/logout.png' %}" alt="Logout" class="logoutimg">
              </button>
            </form>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'editusers' %}">Edit User</a>
            </li>
            {% if request.user.is_staff or request.user.is_superuser %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:add_post' %}">Add Post</a>
              </li>
            {% endif %}
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hellologin' %}">
                <img src="{% static 'portfolio/login.png' %}" class="img-fluid loginimg" alt="Login">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'helloregister' %}">
                <img src="{% static 'portfolio/register.png' %}" class="img-fluid registerimg" alt="Signup">
              </a>
            </li>
          {% endif %}
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-primary btn-sm" 
               href="{% static 'portfolio/CV test.pdf' %}"
               target="_blank"
               >Download CV</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
